/* Based off code provided by Dr. Fraser */
body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
h1, h2 {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#content {
	margin-top: 10pt;
}

#status-box {
	width: 387.5px;
	min-height: 200pt;
	border: thin black solid;
	background-color: #f3f3f3;
	padding-left: 10pt;
	padding-right: 10pt;
	margin-top: 25pt;
}

#status-box-right {
	overflow-y: auto;
	width: 775px;
	height: 200pt;
	border: thin black solid;
	background-color: #f3f3f3;
	padding-left: 10pt;
	padding-right: 10pt;
	margin-top: 25pt;
}

#left-box {
	border: thin red solid;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 300pt;
	margin: 35pt;
}

#outer-left-box {
	border: thin black solid;
	min-height: 300pt;
}

#error-box {
	border: thin black solid;
	clear: both;
	background-color: red;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 100pt;
	margin-top: 20px;
	display: none;
}

#pan-div {
	margin: 10px;
}